:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

#main {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#middle {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#left {
  flex-basis:300px;
  
  display: flex;
  flex-direction: column;
}

#tree {
  flex-basis: 40%;
  overflow: auto;
}

#edit {
  flex: 1;
  overflow: auto;
}
#canvas {
  overflow: hidden;
  flex: 1;
}

.section {
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  box-sizing: border-box;
  padding: 6px;
  height: 100%;
}

/* hack to make fui textareas bigger */
.fui-Textarea__textarea {
  height: 300px !important;
}